<section class="section section_{{name}} parallax" id="{{name}}">
    <div class="section-overlay">
        <div class="container">
            <div class="section__text">
                <!-- TITLE AND DESC -->
                <h1>{{{title}}}</h1>
                <p>{{{description}}}</p>
            </div>
            {{#if useImages}}
                <div class="section__img">
                    <img src="%=static=%img/assets/section/home.png" alt="">
                </div>
            {{/if}}
        </div>
    </div>
</section>